body {
    display: flex;
    background-color: #EFF2F4;
    margin: 0px;
    font-family: 'Albert Sans';
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
}

#geral {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container-main {
    display: flex;
    flex-direction: column;
    margin: 2px auto;
}

main hr {
    width: 1050px;
}

#logo-senac {
    margin: 5px auto;
    background-color: #fff;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

#pastas {
    position: absolute;
    top: 10px;
    display: flex;
    margin: 20px;
    font-size: 20px;

    & a,
    p {
        margin: 0px 5px;
        color: #000;
    }
}

#pasta-atual {
    font-weight: bold;
}

#btn-lermais {
    position: relative;
    left: 175px;
    width: 100;
}

#titulo-edit {
    display: flex;
    justify-content: start;
    align-items: start;

    & h3 {
        margin-left: 0px;
    }
}

#btn-edit {
    aspect-ratio: 4/4;
    width: 20px;
}

#logo-user {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    padding-bottom: 1px;

    & img,
    h3 {
        font-weight: 300;
        margin: 5px auto;
        margin-bottom: 1px;
        color: #fff;
    }

    & img {
        width: 80%;
    }
}

#menu {
    position: fixed;
    width: 220px;
    height: 100vh;
    background-color: #2E4EAD;

    & hr {
        width: 90%;
        height: .1px;
        opacity: 40%;
        border: none;
        background-color: #fff;
    }
}

#menu-placeholder {
    min-width: 220px;
    height: 100vh;
}

#options {
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: 300;

    & div {
        padding: 20px 0px 20px 20px;
        display: flex;
        align-items: center;
        font-size: 15px;

        & img {
            width: 8%;
        }
    }

    & a {
        color: #fff;
        margin-left: 20px;
    }

    & img {
        width: 10%;
        margin-right: 10px;
    }
}

#comunicados,
#conceitos,
#alunos,
#professor,
#coordenador,
#turmas,
#disciplinas {
    opacity: 50%;
}

#inicio {
    background-color: #92A6E2;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}