main {
    margin: 10px auto;

    & div {
        padding: 10px;
        margin: 10px auto;
    }

    & #header-aviso {
        background-color: #2E4EAD;
        width: 80%;

        & input {
            padding: 10px;
            font-size: 18px;
            font-family: 'Albert Sans';
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
            border-bottom:1px solid #000;
        }
    }

    & #conteudo-edit {
        background-color: #fff;
        height: 60vh;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .4);
    }
}